<!-- navbar -->
<div class="btn-group">
    <button class="btn btn-primary" (click)="showuserlist()">User list</button>
    <button class="btn btn-primary" (click)="showadduser()" > Add user</button>
    <button class="btn btn-primary" (click)="showsearch()" > Search</button>
</div>
<div class="row">
    <div class="col-md-12">
        <br/>
    </div>
</div>
<div class="alert alert-danger" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showalert">
    <strong>Oh snap!</strong> {{message}}.
</div>
<div class="alert alert-success" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showsuccess">
    <strong>God Job!</strong> {{message}}!
</div>

<!-- userlist page -->
<div class=" .col-12 .col-sm-6 .col-md-8">
<div  class="horizontal-scroll" id="userlist" [hidden]="!showUserlist">
    <div class="table-responsive" style="border-bottom: 1px; margin-left: 1%; margin-right: 10%">
        <table class="table table-hover .col-md-8">
            <thead>
                <tr class="black-muted-bg">
                <th class="table-arr" >S.No.</th>
                <!-- <th class="table-arr"></th> -->
                <th class="table-arr">Username</th>
                <!-- <th class="table-arr"></th> -->
                <!-- <th class="">Skill</th> -->
                <!-- <th class="table-arr"></th> -->
                <th class="table-arr">Project</th>
                <!-- <th class="table-arr"></th> -->
                <th class="table-arr">Admin</th>
                <!-- <th class="table-arr"></th> -->
                <!-- <th class="">Password</th> -->
                
                <th class="align-mid">Action</th>
                </tr>
            </thead>    
            <tbody>

            <tr *ngFor="let userData of UserList  ; let i = index; trackBy: userId" class="no-top-border">
                <td class="table-arr">{{i+1}}</td>
                <!-- <td class="table-arr"></td> -->
                <td class="table-arr">{{userData.Username}}</td>
                <!-- <td class="table-arr"></td> -->
                <!-- <td class="">{{userData.Skill}}</td> -->
                <!-- <td class="table-arr"></td> -->
                <td class="table-arr">{{userData.Project}}</td>
                <!-- <td class="table-arr"></td> -->
                <td class="table-arr">{{userData.admin}}</td>
                <!-- <td class="table-arr"></td> -->
                <!-- <td class="">{{userData.Password}}</td> -->
                <!-- <td class="table-arr"></td> -->
                <td class="table-arr">
                    <a [routerLink]="['/edit/',userData.Username]" style="display:inline; float:left" class="btn btn-success">Edit  </a>
                    <a class="btn btn-danger" style="display:inline; float:left; margin-left:1%" (click)="deleteUser(userData.Username)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

<!-- add user page-->
<div class="row .col-12" id="adduser"  [hidden]="!showAdduser">
    <!-- <div class=".col-8"> -->
            <form class=".col-12" style="width: 35%; margin:1% 0 0 2%;">
                <div class="form-group " >
                    <input type="text" [(ngModel)]="model.username" id="name"
                    class="form-control" placeholder="Username"  name="name"
                    #name="ngModel" required>
                </div>
                <div class="form-group ">
                    <input type="text" [(ngModel)]="model.password" id="password" name="password"
                    class="form-control" placeholder="Password" #password="ngModel" required>
                </div>
                <div class="form-group ">
                    <textarea class="form-control" placeholder="Project"></textarea>
                </div>
                <button type="submit"  (click)="adduserclicked(model.username,model.password)" class="btn btn-success">Add</button>
            </form>
    <!-- </div> -->
</div>
    
<div [hidden]="!submitted">
    <h2 style=" margin:1% 0 0 2%;">You submitted the following:</h2>
    <div class="row">
        <div style="width: 8%; margin:1% 0 0 2%;">Name: </div>
        <div style="width: 8%; margin:1% 0 0 2%;">{{ model.username }}</div>
    </div>
    <div class="row">
        <div style="width: 8%; margin:1% 0 0 2%;">Password: </div>
        <div style="width: 8%; margin:1% 0 0 2%;">{{ model.password}}</div>
    </div>
    <br>
    
</div>

<!-- Search user page-->
<div class=".col-12" id="searchuser" style="width: 50%; margin-top: 1% ;margin-left: 2%; margin-right: 10%; " [hidden]=!showSearchuser>
    <form class="row form-inline" style="width:100%" >
        <div id="search_username" class="form-group required" style="width:50%" >
            <label class="sr-only">Please enter in username</label>
            <input type="text" #searchname class="form-control"  placeholder="Username">
        </div>
        <button type="button" class=" btn btn-info" (click)="searchuserclick(searchname.value)" style=" margin-left: 1%;">Search</button>

    </form>
</div>
    <!-- Search result-->
    <div class=".col-12 .col-sm-6 .col-md-8" [hidden]="!searched">
                    <div  class="horizontal-scroll" id="userlist">
                        <div class="table-responsive" style="border-bottom: 1px; margin-left: 1%; margin-right: 10%">
                            <table class="table table-hover .col-md-8">
                                <thead>
                                    <tr class="black-muted-bg">
                                    
                                    <!-- <th class="table-arr"></th> -->
                                    <th class="table-arr">Username</th>
                                    <!-- <th class="table-arr"></th> -->
                                    <!-- <th class="">Skill</th> -->
                                    <!-- <th class="table-arr"></th> -->
                                    <th class="table-arr">Project</th>
                                    <!-- <th class="table-arr"></th> -->
                                    <th class="table-arr">Admin</th>
                                    <!-- <th class="table-arr"></th> -->
                                    <!-- <th class="">Password</th> -->
                                    
                                    <th class="align-mid">Action</th>
                                    </tr>
                                </thead>    
                                <tbody>
                    
                                <tr *ngFor="let userData of UserSearchDeatails  ; let i = index; trackBy: userId" class="no-top-border">
                                    
                                    <!-- <td class="table-arr"></td> -->
                                    <td class="table-arr">{{userData.Username}}</td>
                                    <!-- <td class="table-arr"></td> -->
                                    <!-- <td class="">{{userData.Skill}}</td> -->
                                    <!-- <td class="table-arr"></td> -->
                                    <td class="table-arr">{{userData.Project}}</td>
                                    <!-- <td class="table-arr"></td> -->
                                    <td class="table-arr">{{userData.admin}}</td>
                                    <!-- <td class="table-arr"></td> -->
                                    <!-- <td class="">{{userData.Password}}</td> -->
                                    <!-- <td class="table-arr"></td> -->
                                    <td class="table-arr">
                                        <a [routerLink]="['/edit/',userData.Username]" style="display:inline; float:left" class="btn btn-success">Edit  </a>
                                        <a class="btn btn-danger" style="display:inline; float:left; margin-left:1%" (click)="deleteUser(userData.Username)">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
    

