<div class="row">
    <div class="col-md-6">
    <div class = "card" style="width: 100%">
        <div class="row">
            <div class="card-header clearfix" style="width:100%;  margin: 0 5% 0 5%">
                <h3 class="card-title">Unit Info</h3>
            </div>
            <div class="card-body" style="width:100%; ">
                <div style="height: 200px"> 
                <div ngbDropdown class="btn-group dropdown" style="display:inline; flaot:left; width:30%; margin: 1% 0 0 1%" ngbDropdown>
                    <button class="btn btn-primary dropdown-toggle" type="button" style="margin:1% 0 0 5%" id="drop_down_1" ngbDropdownToggle>Select Unit</button>
                    <ul class="dropdown-menu" style="margin:8% 0 0 22%" aria-labelledby="drop_down_1">
                        <li class="dropdown-item"  (click)=onChange(item) *ngFor="let item of Unit_List" >
                            <a>{{item}}</a>
                        </li>
                    </ul>
                </div> 
                <div class="" style="float:right; width:70%;margin-right:5%" >
                    <div class=" table-responsive" style="margin:0 10% 3% 0">
                        <table class="table table-bordered" >
                            <tbody>
                            <tr>
                                <td>Unit ID </td>
                                <td style="text-align:center">{{UnitDetail.UnitId}}</td>
                            </tr>
                            <tr>
                                <td>Platform </td>
                                <td style="text-align:center">{{UnitDetail.Platform}}</td>
                            </tr>
                            <tr>
                                <td>Camera </td>
                                <td style="text-align:center">{{UnitDetail.CameraType}}</td>
                            </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div style="width: 90%">
                        <div class="card-header clearfix" style="width:100%;  margin: 0 5% 0 5%">
                                <h3 class="card-title">Update build </h3>
                        </div>
                        <form class="row form-inline ng-untouched ng-pristine ng-valid" style="margin: 2% 0 2% 5%">
                            <div class="form-group col-sm-5">
                                <input class="form-control" placeholder="Build Version" type="text" #buildVersion>
                            </div>
                            <div class="form-group col-sm-3">
                                <input class="form-control" placeholder="Update time" type="text" #updatedTime>
                            </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!getHistory" (click)=add_updateTime(UnitDetail.UnitId,buildVersion.value,updatedTime.value) > Submit</button>
                        </div>
                </form>
                </div>
                
            </div>  
        </div>
    </div>
    </div>
    <div class="col-md-5">
            <div class = "card" style="width: 100%">
                <div class="row">
                    <div class="card-header clearfix" style="width:100%;  margin: 0 5% 0 5%">
                        <h3 class="card-title">Build history</h3>
                    </div>
                    <div class="card-body" style="width:100%; ">
                        <div >
                            <div class=" table-responsive" style="margin-top:0" >
                                <table class="table table-hover" style="width: 90%;margin: 0 5% 2% 5%" >
                                    <thead>
                                        <td style="text-align:center">Build Version</td>
                                        <td >Updated Time</td>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of BuildHistory">
                                        <td>{{item.Build}} </td>
                                        <td>{{item.Time}}</td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>
                    </div>
                </div>  
            </div>
            </div>
</div>
 